.link {
  text-decoration: none;
  color: $b;
  &--router {
    display: inline-block;
    margin-left: 0.5rem;
    @media screen and (min-width: $bp_laptop) {
      margin-left: 1rem;
    }
    @media screen and (min-width: $bp_laptop_large) {
    }
    @media screen and (min-width: $bp_big_screen) {
    }
  }
}
