// Primary :
$p-darker: #d44c4c;
$p-dark: #eca0a0;
$p: #ffd7d7;
$p-light: #fff2f2;
$p-lighter: #ffffff;

// Complementary :
$c-darker: #3bab3b;
$c-dark: #81be81;
$c: #acccac;
$c-light: #d2ddd2;
$c-lighter: #f7f7f7;
